{% extends "pin/pin_form.html" %}

{% block body_attrs -%}
  data-flow="lobby"
  data-verify-url="{{ url('auth.verify') }}"
{%- endblock %}

{% block extra_content %}
  <div id="login" class="message hidden">
    <h2>{{ _('Sign In') }}</h2>
    <a id="signin" class="sign-in" href="#">{{ _('Sign in') }}</a>
    <p>
    {%- trans terms_url=settings.TERMS_URL,
              privacy_policy_url=settings.PRIVACY_POLICY_URL %}
    By proceeding, you agree to Persona's <a href="{{ terms_url }}" target="_blank">Terms</a> and <a href="{{ privacy_policy_url }}" target="_blank">Privacy Policy</a>.
    {% endtrans -%}
    </p>
  </div>
{% endblock %}
